<section class="brands section">
    <div class="container">
        <h1 class="brands__title title">Какие кондиционеры мы обслуживаем</h1>
        <ul class="brands__list list">
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/midea@1x.webp 1x,
                        ./img/tablet/brands/midea@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/midea@1x.jpg 1x,
                        ./img/tablet/brands/midea@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/midea@1x.webp 1x,
                        ./img/mobile/brands/midea@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/midea@1x.jpg 1x,
                        ./img/mobile/brands/midea@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="Мидеа" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/electrolux@1x.webp 1x,
                        ./img/tablet/brands/electrolux@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/electrolux@1x.jpg 1x,
                        ./img/tablet/brands/electrolux@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/electrolux@1x.webp 1x,
                        ./img/mobile/brands/electrolux@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/electrolux@1x.jpg 1x,
                        ./img/mobile/brands/electrolux@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="Электролюкс" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/cooper-hunter@1x.webp 1x,
                        ./img/tablet/brands/cooper-hunter@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/cooper-hunter@1x.jpg 1x,
                        ./img/tablet/brands/cooper-hunter@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/cooper-hunter@1x.webp 1x,
                        ./img/mobile/brands/cooper-hunter@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/cooper-hunter@1x.jpg 1x,
                        ./img/mobile/brands/cooper-hunter@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="Купер и хантер" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/mitsubishi@1x.webp 1x,
                        ./img/tablet/brands/mitsubishi@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/mitsubishi@1x.jpg 1x,
                        ./img/tablet/brands/mitsubishi@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/mitsubishi@1x.webp 1x,
                        ./img/mobile/brands/mitsubishi@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/mitsubishi@1x.jpg 1x,
                        ./img/mobile/brands/mitsubishi@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="митсубиши" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/zanussi@1x.webp 1x,
                        ./img/tablet/brands/zanussi@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/zanussi@1x.jpg 1x,
                        ./img/tablet/brands/zanussi@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/zanussi@1x.webp 1x,
                        ./img/mobile/brands/zanussi@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/zanussi@1x.jpg 1x,
                        ./img/mobile/brands/zanussi@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="занусси" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/tosot@1x.webp 1x,
                        ./img/tablet/brands/tosot@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/tosot@1x.jpg 1x,
                        ./img/tablet/brands/tosot@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/tosot@1x.webp 1x,
                        ./img/mobile/brands/tosot@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/tosot@1x.jpg 1x,
                        ./img/mobile/brands/tosot@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="тосот" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/toshiba@1x.webp 1x,
                        ./img/tablet/brands/toshiba@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/toshiba@1x.jpg 1x,
                        ./img/tablet/brands/toshiba@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/toshiba@1x.webp 1x,
                        ./img/mobile/brands/toshiba@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/toshiba@1x.jpg 1x,
                        ./img/mobile/brands/toshiba@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="тошиба" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/lg@1x.webp 1x,
                        ./img/tablet/brands/lg@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/lg@1x.jpg 1x,
                        ./img/tablet/brands/lg@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/lg@1x.webp 1x,
                        ./img/mobile/brands/lg@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/lg@1x.jpg 1x,
                        ./img/mobile/brands/lg@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="ЛЖи" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/sensei@1x.webp 1x,
                        ./img/tablet/brands/sensei@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/sensei@1x.jpg 1x,
                        ./img/tablet/brands/sensei@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/sensei@1x.webp 1x,
                        ./img/mobile/brands/sensei@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/sensei@1x.jpg 1x,
                        ./img/mobile/brands/sensei@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="сенсеи" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/panasonic@1x.webp 1x,
                        ./img/tablet/brands/panasonic@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/panasonic@1x.jpg 1x,
                        ./img/tablet/brands/panasonic@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/panasonic@1x.webp 1x,
                        ./img/mobile/brands/panasonic@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/panasonic@1x.jpg 1x,
                        ./img/mobile/brands/panasonic@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="панасоник" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/hitachi@1x.webp 1x,
                        ./img/tablet/brands/hitachi@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/hitachi@1x.jpg 1x,
                        ./img/tablet/brands/hitachi@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/hitachi@1x.webp 1x,
                        ./img/mobile/brands/hitachi@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/hitachi@1x.jpg 1x,
                        ./img/mobile/brands/hitachi@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="хитачи" />
                  </picture>
            </li>
            <li class="brands__list-item">
                <picture>                   
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/idea@1x.webp 1x,
                        ./img/tablet/brands/idea@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/brands/idea@1x.jpg 1x,
                        ./img/tablet/brands/idea@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/idea@1x.webp 1x,
                        ./img/mobile/brands/idea@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/brands/idea@1x.jpg 1x,
                        ./img/mobile/brands/idea@2x.jpg 2x
                      "
                    />
                    <img class="brands__list-item-img" loading="lazy" src="#" alt="идэя" />
                  </picture>
            </li>
        </ul>
    </div>
</section>