<section class="mounting section">
    <div class="container">
        <h1 class="mounting__title title">Установка кондицонеров</h1>
        <ul class="mounting__list list">
            <li class="mounting__list-item">
                <a href="" class="mounting__list-item-link link">
                  
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/wall-mounted@1x.webp 1x,
                            ./img/desktop/mounting/wall-mounted@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/wall-mounted@1x.png 1x,
                            ./img/desktop/mounting/wall-mounted@2x.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/wall-mounted@1x.webp 1x,
                            ./img/tablet/mounting/wall-mounted@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/wall-mounted@1x.png 1x,
                            ./img/tablet/mounting/wall-mounted@2x.png 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/wall-mounted@1x.webp 1x,
                            ./img/mobile/mounting/wall-mounted@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/wall-mounted@1x.png 1x,
                            ./img/mobile/mounting/wall-mounted@2x.png 2x
                          "
                        />
                        <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  настенного кондиционера" />
                      </picture>
                    
                      <p class="mounting__list-item-deskription">Установка  настенного кондиционера</p>
                </a>
            </li>
            <li class="mounting__list-item"><a href="" class="mounting__list-link">
                <a href="" class="mounting__list-item-link link">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        ./img/desktop/mounting/duct@1x.webp 1x,
                        ./img/desktop/mounting/duct@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        ./img/desktop/mounting/duct@1x.png 1x,
                        ./img/desktop/mounting/duct@2x.png 2x
                      "
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/mounting/duct@1x.webp 1x,
                        ./img/tablet/mounting/duct@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/tablet/mounting/duct@1x.png 1x,
                        ./img/tablet/mounting/duct@2x.png 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/mounting/duct@1x.webp 1x,
                        ./img/mobile/mounting/duct@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                        ./img/mobile/mounting/duct@1x.png 1x,
                        ./img/mobile/mounting/duct@2x.png 2x
                      "
                    />
                    <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  канального кондиционера" />
                  </picture>
                  <p class="mounting__list-item-deskription">Установка  канального кондиционера</p>
                </a>
            </li>
            <li class="mounting__list-item">
                <a href="" class="mounting__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/cassette@1x.webp 1x,
                            ./img/desktop/mounting/cassette@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/cassette@1x.png 1x,
                            ./img/desktop/mounting/cassette@2x.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/cassette@1x.webp 1x,
                            ./img/tablet/mounting/cassette@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/cassette@1x.png 1x,
                            ./img/tablet/mounting/cassette@2x.png 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/cassette@1x.webp 1x,
                            ./img/mobile/mounting/cassette@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/cassette@1x.png 1x,
                            ./img/mobile/mounting/cassette@2x.png 2x
                          "
                        />
                        <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  кассетного кондиционера" />
                      </picture>
                      <p class="mounting__list-item-deskription">Установка  кассетного кондиционера</p>
                </a>
            </li>
            <li class="mounting__list-item">
                <a href="" class="mounting__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/multisplit@1x.webp 1x,
                            ./img/desktop/mounting/multisplit@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/multisplit@1x.png 1x,
                            ./img/desktop/mounting/multisplit@2x.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/multisplit@1x.webp 1x,
                            ./img/tablet/mounting/multisplit@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/multisplit@1x.png 1x,
                            ./img/tablet/mounting/multisplit@2x.png 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/multisplit@1x.webp 1x,
                            ./img/mobile/mounting/multisplit@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/multisplit@1x.png 1x,
                            ./img/mobile/mounting/multisplit@2x.png 2x
                          "
                        />
                        <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка мульти-сплит кондиционеров" />
                      </picture>
                      <p class="mounting__list-item-deskription">Установка мульти-сплит кондиционеров</p>
                </a>
            </li>
            <li class="mounting__list-item">
                <a href="" class="mounting__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/wall-ceiling@1x.webp 1x,
                            ./img/desktop/mounting/wall-ceiling@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/wall-ceiling@1x.png 1x,
                            ./img/desktop/mounting/wall-ceiling@2x.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/wall-ceiling@1x.webp 1x,
                            ./img/tablet/mounting/wall-ceiling@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/wall-ceiling@1x.png 1x,
                            ./img/tablet/mounting/wall-ceiling@2x.png 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/wall-ceiling@1x.webp 1x,
                            ./img/mobile/mounting/wall-ceiling@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/wall-ceiling@1x.png 1x,
                            ./img/mobile/mounting/wall-ceiling@2x.png 2x
                          "
                        />
                        <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  настенно-потолочного кондиционера" />
                      </picture>
                      <p class="mounting__list-item-deskription">Установка  настенно-потолочного кондиционера</p>
                </a>
            </li>
            <li class="mounting__list-item">
                <a href="" class="mounting__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/window@1x.webp 1x,
                            ./img/desktop/mounting/window@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/mounting/window@1x.png 1x,
                            ./img/desktop/mounting/window@2x.png 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/window@1x.webp 1x,
                            ./img/tablet/mounting/window@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/mounting/window@1x.png 1x,
                            ./img/tablet/mounting/window@2x.png 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/window@1x.webp 1x,
                            ./img/mobile/mounting/window@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/mounting/window@1x.png 1x,
                            ./img/mobile/mounting/window@2x.png 2x
                          "
                        />
                        <img class="mounting__list-item-img" loading="lazy" src="#" alt="Установка  оконного кондиционера" />
                      </picture>
                      <p class="mounting__list-item-deskription">Установка  оконного кондиционера</p>
                </a>
            </li>
        </ul>
    </div>
</section>



