<section class="service-maintenance section">
  <div class="container">
    <h1 class="service-maintenance__title title">Сервисное обслуживание кондиционеров</h1>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/desktop/service-maintenance/remont-kondicionerov@1x.webp 1x,
          ./img/desktop/service-maintenance/remont-kondicionerov@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/desktop/service-maintenance/remont-kondicionerov@1x.jpg 1x,
          ./img/desktop/service-maintenance/remont-kondicionerov@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/tablet/service-maintenance/remont-kondicionerov@1x.webp 1x,
          ./img/tablet/service-maintenance/remont-kondicionerov@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/tablet/service-maintenance/remont-kondicionerov@1x.jpg 1x,
          ./img/tablet/service-maintenance/remont-kondicionerov@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 768px)"
        srcset="
          ./img/mobile/service-maintenance/remont-kondicionerov@1x.webp 1x,
          ./img/mobile/service-maintenance/remont-kondicionerov@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 768px)"
        srcset="
          ./img/mobile/service-maintenance/remont-kondicionerov@1x.jpg 1x,
          ./img/mobile/service-maintenance/remont-kondicionerov@2x.jpg 2x
        "
      />
      <img class="img-condition" loading="lazy" src="#" alt="Кондиционер в разобраном виде" />
    </picture>

    <ul class="service-list list">
      <li class="service-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/calendar@1x.webp 1x,
              ./img/desktop/service-maintenance/calendar@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/calendar@1x.png 1x,
              ./img/desktop/service-maintenance/calendar@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/calendar@1x.webp 1x,
              ./img/tablet/service-maintenance/calendar@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/calendar@1x.png 1x,
              ./img/tablet/service-maintenance/calendar@2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/calendar@1x.webp 1x,
              ./img/mobile/service-maintenance/calendar@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/calendar@1x.png 1x,
              ./img/mobile/service-maintenance/calendar@2x.png 2x
            "
          />
          <img class="img-calendar" loading="lazy" src="#" alt="Иконка календаря" />
        </picture>
        <div class="service-item__description">
          <p class="service-item__description-title">Пунктуальность</p>
          <p class="service-item__description-text">Работы проводятся быстро и в срок</p>
        </div>
      </li>
      <li class="service-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/service@1x.webp 1x,
              ./img/desktop/service-maintenance/service@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/service@1x.png 1x,
              ./img/desktop/service-maintenance/service@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/service@1x.webp 1x,
              ./img/tablet/service-maintenance/service@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/service@1x.png 1x,
              ./img/tablet/service-maintenance/service@2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/service@1x.webp 1x,
              ./img/mobile/service-maintenance/service@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/service@1x.png 1x,
              ./img/mobile/service-maintenance/service@2x.png 2x
            "
          />
          <img class="img-service" loading="lazy" src="#" alt="Иконка гаичных ключей" />
        </picture>
        <div class="service-item__description">
          <p class="service-item__description-title">Оборудование</p>
          <p class="service-item__description-text">Используется только современное</p>
        </div>
      </li>
      <li class="service-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/guarante@1x.webp 1x,
              ./img/desktop/service-maintenance/guarante@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/guarante@1x.png 1x,
              ./img/desktop/service-maintenance/guarante@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/guarante@1x.webp 1x,
              ./img/tablet/service-maintenance/guarante@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/guarante@1x.png 1x,
              ./img/tablet/service-maintenance/guarante@2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/guarante@1x.webp 1x,
              ./img/mobile/service-maintenance/guarante@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/guarante@1x.png 1x,
              ./img/mobile/service-maintenance/guarante@2x.png 2x
            "
          />
          <img class="img-guarante" loading="lazy" src="#" alt="Иконка сервисной гарантии" />
        </picture>
        <div class="service-item__description">
          <p class="service-item__description-title">Гарантия</p>
          <p class="service-item__description-text">Гарантия выполненых работ</p>
        </div>
      </li>
      <li class="service-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/key@1x.webp 1x,
              ./img/desktop/service-maintenance/key@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/service-maintenance/key@1x.png 1x,
              ./img/desktop/service-maintenance/key@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/key@1x.webp 1x,
              ./img/tablet/service-maintenance/key@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/tablet/service-maintenance/key@1x.png 1x,
              ./img/tablet/service-maintenance/key@2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/key@1x.webp 1x,
              ./img/mobile/service-maintenance/key@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./img/mobile/service-maintenance/key@1x.png 1x,
              ./img/mobile/service-maintenance/key@2x.png 2x
            "
          />
          <img class="img-key" loading="lazy" src="#" alt="Иконка ключа" />
        </picture>
        <div class="service-item__description">
          <p class="service-item__description-title">Под ключ</p>
          <p class="service-item__description-text">Установка и ремонт под ключ</p>
        </div>
      </li>
    </ul>
  </div>
</section>
