<section class="services-and-prices section" >
    <div class="container">
        <h1 class="services-and-prices__title title">Услуги и цены</h1>
        <ul class="services-and-prices_list list">
            <li class="services-and-prices__list-item">
                <a href="#" class="services-and-prices__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/clean@1x.webp 1x,
                            ./img/desktop/services-and-prices/clean@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/clean@1x.jpg 1x,
                            ./img/desktop/services-and-prices/clean@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/clean@1x.webp 1x,
                            ./img/tablet/services-and-prices/clean@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/clean@1x.jpg 1x,
                            ./img/tablet/services-and-prices/clean@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/clean@1x.webp 1x,
                            ./img/mobile/services-and-prices/clean@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/clean@1x.jpg 1x,
                            ./img/mobile/services-and-prices/clean@2x.jpg 2x
                          "
                        />
                        <img class="services-and-prices__list-item-img" loading="lazy" src="#" alt="Антибактериальная обработка внутреннего блока кондиционера " />
                      </picture>
                      <div class="services-and-prices__list-item-wrapper">
                      <p class="services-and-prices__list-item-deskription">
                        Антибактериальная обработка внутреннего блока кондиционера
                      </p>
                      <p class="services-and-prices__list-item-cost">ОТ 500 ГРН</p>
                    </div>
                </a>
            </li>
            <li class="services-and-prices__list-item">
                <a href="#" class="services-and-prices__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/diagnostics@1x.webp 1x,
                            ./img/desktop/services-and-prices/diagnostics@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/diagnostics@1x.jpg 1x,
                            ./img/desktop/services-and-prices/diagnostics@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/diagnostics@1x.webp 1x,
                            ./img/tablet/services-and-prices/diagnostics@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/diagnostics@1x.jpg 1x,
                            ./img/tablet/services-and-prices/diagnostics@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/diagnostics@1x.webp 1x,
                            ./img/mobile/services-and-prices/diagnostics@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/diagnostics@1x.jpg 1x,
                            ./img/mobile/services-and-prices/diagnostics@2x.jpg 2x
                          "
                        />
                        <img class="services-and-prices__list-item-img" loading="lazy" src="#" alt="Диагностика работы кондиционера" />
                      </picture>
                      <div class="services-and-prices__list-item-wrapper">
                      <p class="services-and-prices__list-item-deskription">
                        Диагностика работы кондиционера
                      </p>
                      <p class="services-and-prices__list-item-cost">ОТ 750 ГРН</p>
                    </div>
                </a>
            </li>
            <li class="services-and-prices__list-item">
                <a href="#" class="services-and-prices__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/zamena_plati@1x.webp 1x,
                            ./img/desktop/services-and-prices/zamena_plati@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/zamena_plati@1x.jpg 1x,
                            ./img/desktop/services-and-prices/zamena_plati@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/zamena_plati@1x.webp 1x,
                            ./img/tablet/services-and-prices/zamena_plati@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/zamena_plati@1x.jpg 1x,
                            ./img/tablet/services-and-prices/zamena_plati@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/zamena_plati@1x.webp 1x,
                            ./img/mobile/services-and-prices/zamena_plati@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/zamena_plati@1x.jpg 1x,
                            ./img/mobile/services-and-prices/zamena_plati@2x.jpg 2x
                          "
                        />
                        <img class="services-and-prices__list-item-img" loading="lazy" src="#" alt="Замена платы внутреннего блока кондиционера" />
                      </picture>
                      <div class="services-and-prices__list-item-wrapper">
                      <p class="services-and-prices__list-item-deskription">
                        Замена платы внутреннего блока кондиционера
                      </p>
                      <p class="services-and-prices__list-item-cost">ОТ 1080 ГРН</p>
                    </div>
                </a>
            </li>
            <li class="services-and-prices__list-item">
                <a href="#" class="services-and-prices__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/demontag@1x.webp 1x,
                            ./img/desktop/services-and-prices/demontag@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/demontag@1x.jpg 1x,
                            ./img/desktop/services-and-prices/demontag@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/demontag@1x.webp 1x,
                            ./img/tablet/services-and-prices/demontag@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/demontag@1x.jpg 1x,
                            ./img/tablet/services-and-prices/demontag@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/demontag@1x.webp 1x,
                            ./img/mobile/services-and-prices/demontag@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/demontag@1x.jpg 1x,
                            ./img/mobile/services-and-prices/demontag@2x.jpg 2x
                          "
                        />
                        <img class="services-and-prices__list-item-img" loading="lazy" src="#" alt="Демонтаж кондиционера" />
                      </picture>
                      <div class="services-and-prices__list-item-wrapper">
                      <p class="services-and-prices__list-item-deskription">
                        Демонтаж кондиционера
                      </p>
                      <p class="services-and-prices__list-item-cost">ОТ 750 ГРН</p>
                    </div>
                </a>
            </li>
            <li class="services-and-prices__list-item">
                <a href="#" class="services-and-prices__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/montage@1x.webp 1x,
                            ./img/desktop/services-and-prices/montage@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/montage@1x.jpg 1x,
                            ./img/desktop/services-and-prices/montage@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/montage@1x.webp 1x,
                            ./img/tablet/services-and-prices/montage@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/montage@1x.jpg 1x,
                            ./img/tablet/services-and-prices/montage@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/montage@1x.webp 1x,
                            ./img/mobile/services-and-prices/montage@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/montage@1x.jpg 1x,
                            ./img/mobile/services-and-prices/montage@2x.jpg 2x
                          "
                        />
                        <img class="services-and-prices__list-item-img" loading="lazy" src="#" alt="Монтаж кондиционеров" />
                      </picture>
                      <div class="services-and-prices__list-item-wrapper">
                      <p class="services-and-prices__list-item-deskription">
                        Монтаж кондиционеров
                      </p>
                      <p class="services-and-prices__list-item-cost">ОТ 750 ГРН</p>
                    </div>
                </a>
            </li>
            <li class="services-and-prices__list-item">
                <a href="#" class="services-and-prices__list-item-link link">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/refueling@1x.webp 1x,
                            ./img/desktop/services-and-prices/refueling@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/desktop/services-and-prices/refueling@1x.jpg 1x,
                            ./img/desktop/services-and-prices/refueling@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/refueling@1x.webp 1x,
                            ./img/tablet/services-and-prices/refueling@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./img/tablet/services-and-prices/refueling@1x.jpg 1x,
                            ./img/tablet/services-and-prices/refueling@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/refueling@1x.webp 1x,
                            ./img/mobile/services-and-prices/refueling@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./img/mobile/services-and-prices/refueling@1x.jpg 1x,
                            ./img/mobile/services-and-prices/refueling@2x.jpg 2x
                          "
                        />
                        <img class="services-and-prices__list-item-img" loading="lazy" src="#" alt="Заправка кондиционеров" />
                      </picture>
                      <div class="services-and-prices__list-item-wrapper">
                      <p class="services-and-prices__list-item-deskription">
                        Заправка кондиционеров
                      </p>
                      <p class="services-and-prices__list-item-cost">ОТ 480 ГРН</p>
                    </div>
                </a>
            </li>
        </ul>
        
    </div>
</section>