.search-form {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.gallery {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
}
.photo-card {
  flex-basis: calc((100% - 1 * 40px) / 1);

  margin-top: 30px;
  position: relative;
}
.gallery__link {
  height: 100%;
}
img {
  background-size: cover;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid black;
}
.info-item {
  margin-right: 20px;
}
.search-form {
  margin-left: auto;
  margin-right: auto;
}

.load-more {
  display: block;
  margin: 30px auto;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: calc(-1 * 20px);
    margin-left: calc(-1 * 30px);
  }
  .photo-card {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
  .photo-card {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}
