.service-maintenance__title {
  margin-bottom: 50px;
  text-align: center;
}
.img-condition {
  margin: 0 auto 50px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}
.service-item__description-title {
  @include font(18px, 27px);
  letter-spacing: 0.05em;
  font-weight: 700;
  margin-bottom: 16px;
}
.service-item__description-text {
  @include font(14px, 21px);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 20px);
  margin-top: calc(-1 * 50px);
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 2 * 20px) / 2);
  margin-left: 20px;
  margin-top: 40px;
}
.service-item img {
  margin-bottom: 16px;
}
.service-item__description {
  text-align: center;
}

@media screen and(min-width: 768px) {
  .service-maintenance.section {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .service-maintenance__title {
    margin-bottom: 80px;
    padding-right: 145px;
    padding-left: 145px;
  }
  .img-condition {
    margin: 0 auto 37px;
  }

  .service-item__description-title {
    @include font(24px, 27px);
    margin-bottom: 20px;
  }
  .service-item__description-text {
    @include font(18px, 21px);
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    // margin-left: calc(-1 * 10px);
    margin-top: calc(-1 * 50px);
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 3 * 116px) / 2);
    margin-left: 116px;
    margin-top: 76px;
  }
  .service-item img {
    margin-bottom: 30px;
  }
}

@media screen and(min-width: 1440px) {
  .service-maintenance.section {
    padding-top: 33px;
    padding-bottom: 60px;
  }
  .service-maintenance__title {
    margin-bottom: 70px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .img-condition {
    margin: 0 auto 30px;
  }

  .service-item__description-title {
    @include font(24px, 27px);
    margin-bottom: 20px;
  }
  .service-item__description-text {
    @include font(18px, 21px);
  }

  .service-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: -20px;
    margin-top: 0px;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 4 * 80px) / 2);
    margin-left: 80px;
    margin-top: 0px;
  }
  .service-item img {
    margin-bottom: 22px;
  }
}
